apiVersion: v1
kind: Secret
metadata:
  name: aerogear-digger
  namespace: {{ namespace }}
  labels:
    jenkins-preexists: "{{ jenkinsPreexists }}"
stringData:
  type: aerogear-digger
  name: aerogear-digger
  uri: {{ jenkinsUri }}
  displayName: Mobile CI/CD
  statusMessage: {{ statusMessage }}
  statusPercentage: "{{ statusPercentage }}"
