apiVersion: v1
kind: Secret
metadata:
  name: fh-mobile-ci-cd
  namespace: {{ namespace }}
  labels:
    jenkins-preexists: "{{ jenkinsPreexists }}"
stringData:
  type: fh-mobile-ci-cd
  name: fh-mobile-ci-cd
  uri: {{ jenkinsUri }}
  displayName: Mobile CI/CD
  statusMessage: {{ statusMessage }}
  statusPercentage: "{{ statusPercentage }}"
